:root,
[data-bs-theme='dark'] {
   /*Paleta de cores*/
    --pn-bg: #000b1a;           
    --pn-bg-2: #001529;        
    --pn-panel: #001d3d;        
    --pn-panel-2: #002855;      
    
    /* Bordas e Divisores */
    --pn-border: #003566;        
    --pn-border-soft: #001d3d;   

    /* Tipografia: Off-white e tons de prata para leitura no escuro */
    --pn-text: #e0e1dd;       
    --pn-text-muted: #778da9;  
    --pn-text-dim: #415a77;      

    /* A cor da Realeza: Dourado Nobre */
    --pn-orange: #c3a343;     
    --pn-orange-2: #9a7e32;      
    --pn-orange-soft: rgba(195, 163, 67, 0.15);

    /* Cores de Status (Semânticas) */
    --pn-green: #2dce89;         
    --pn-green-soft: rgba(45, 206, 137, 0.15);
    --pn-yellow: #ffcb39;       
    --pn-red: #f5365c;        
    --pn-blue: #5e72e4;          

    /* Estrutura e Efeitos */
    --pn-sidebar-w: 260px;
    --pn-radius: 16px;          
    --pn-radius-sm: 10px;
    --pn-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);

    /* Sobrescrita Bootstrap 5.3 */
    --bs-body-bg: var(--pn-bg);
    --bs-body-color: var(--pn-text);
    --bs-border-color: var(--pn-border-soft);
    --bs-primary: var(--pn-orange);
    --bs-primary-rgb: 195, 163, 67;
    --bs-link-color: var(--pn-orange);
    --bs-secondary-bg: var(--pn-panel-2);
    --bs-tertiary-bg: var(--pn-panel);
}
